.home_page {
  display: grid;
  margin: 24px 0;
  grid-gap: 16px;
  grid-template-columns: 450px 1fr;
  grid-template-areas: 'filters grid';
}

.filters {
  grid-area: filters;
}

.movies_list {
  grid-area: grid;
}
