.card {
  transition: transform 200ms;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 500ms;
}

.card_image {
  cursor: pointer;
  height: 250px;
}

.card_description {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_title {
  max-height: 65px;
  overflow-y: hidden;
}
